In [6]:
# Importar las bibliotecas necesarias
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
# Cargar el conjunto de datos desde un archivo Excel
data = pd.read_excel('EAC_2021_ANONIMIZADA_FINAL1.xlsx')
data

,V1,CORRELA_16,CORRE_9,IDOJ1,IDAIO,CIMREP,BRUTA,CONSUI,GAS,EMPAQUE,...,INVINI,INVFIN,ROTACION,INVPRO,CTO,CTOINS,VENTASNOP,GASTOS,GASTOSNOP,GASTOPNOP
0,1227174,473,473,14.0,2007,0,77369405,"32334189,5",8894266667,3418666667,...,8941674333,10120921,"663135935,3",9531297667,"663135935,3","663135935,3",0,697017366,2830758667,731150809
1,1227928,473,473,14.0,2012,0,77369405,"32334189,5",8894266667,3418666667,...,8941674333,10120921,"663135935,3",9531297667,"663135935,3","663135935,3",0,697017366,2830758667,731150809
2,1891245,473,473,14.0,2011,0,77369405,"32334189,5",8894266667,3418666667,...,8941674333,10120921,"663135935,3",9531297667,"663135935,3","663135935,3",0,697017366,2830758667,731150809
3,1222250,462,462-463,5.0,1985,7284611333,"80664275,67","48751447,33",3466666667,24752862,...,"61837820,33",71416230,"614929575,5","66627025,17","614929575,3","622214186,7",0,676972604,"27351087,33","717494853,3"
4,1661358,462,462-463,5.0,1961,7284611333,"80664275,67","48751447,33",3466666667,24752862,...,"61837820,33",71416230,"614929575,5","66627025,17","614929575,3","622214186,7",0,676972604,"27351087,33","717494853,3"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9879,1891497,4711-472,471-472,14.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9880,1891584,466,466-469,11.0,2017,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9881,1891644,466,466-469,14.0,2014,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9882,1891693,466,466-469,11.0,2018,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9883,1891714,4771-4751,476 - 477,11.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Obtenemos información general sobre el DataFrame, incluyendo el tipo de datos de cada columna 
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9884 entries, 0 to 9883
Data columns (total 64 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   V1           9884 non-null   int64
 1   CORRELA_16   9884 non-null   object
 2   CORRE_9      9884 non-null   object
 3   IDOJ1        9876 non-null   float64
 4   IDAIO        9884 non-null   int64
 5   CIMREP       9884 non-null   object
 6   BRUTA        9884 non-null   object
 7   CONSUI       9884 non-null   object
 8   GAS          9884 non-null   object
 9   EMPAQUE      9884 non-null   int64
 10  HONORA       9884 non-null   object
 11  COMISION     9884 non-null   object
 12  ARRIENDO     9884 non-null   object
 13  SEGURO       9884 non-null   object
 14  ASEO         9884 non-null   object
 15  ENERGIA      9884 non-null   object
 16  COMUNICA     9884 non-null   object
 17  PUBLICO      9884 non-null   int64
 18  FLETES       9884 non-null   object
 19  PUBLICI      9884 non-null   object
 20  ADECUA       9884 non-null   object
 21  REGALA       9884 non-null   object
 22  OUTSOURCING  9884 non-null   object
 23  OTROS        9884 non-null   object
 24  SUELDOS      9884 non-null   object
 25  PRESTAC      9884 non-null   object
 26  VENTA        9884 non-null   object
 27  AGREGA       9884 non-null   object
 28  PERREMUN     9884 non-null   int64
 29  SOCIOS       9884 non-null   object
 30  PERSONOM     9884 non-null   int64
 31  DIRECTO      9884 non-null   object
 32  AGENCIA      9884 non-null   object
 33  APRENDIZ     9884 non-null   object
 34  TOTPERSO     9884 non-null   int64
 35  PROMUJ       9884 non-null   object
 36  PROHOM       9884 non-null   object
 37  PERMUJ       9884 non-null   int64
 38  PERHOM       9884 non-null   int64
 39  DIRMUJ       9884 non-null   object
 40  DIRHOM       9884 non-null   object
 41  AGEMUJ       9884 non-null   object
 42  AGEHOM       9884 non-null   object
 43  APRENMUJ     9884 non-null   object
 44  APRENHOM     9884 non-null   object
 45  TOTMUJ       9884 non-null   int64
 46  TOTHOM       9884 non-null   int64
 47  SUEPLAN      9884 non-null   object
 48  PREPLAN      9884 non-null   object
 49  REMPLAN      9884 non-null   object
 50  COTIZA       9884 non-null   object
 51  GASAGEN      9884 non-null   object
 52  REMTEMP      9884 non-null   object
 53  TOTREM       9884 non-null   object
 54  INVINI       9884 non-null   object
 55  INVFIN       9884 non-null   object
 56  ROTACION     9884 non-null   object
 57  INVPRO       9884 non-null   object
 58  CTO          9884 non-null   object
 59  CTOINS       9884 non-null   object
 60  VENTASNOP    9884 non-null   int64
 61  GASTOS       9884 non-null   object
 62  GASTOSNOP    9884 non-null   object
 63  GASTOPNOP    9884 non-null   object
dtypes: float64(1), int64(12), object(51)
memory usage: 4.8+ MB
None

El anterior cuadro es una descripción de las propiedades del DataFrame. A continuación, se explicará lo que significa cada parte:

RangeIndex: Esto muestra información sobre el índice de tu DataFrame. En este caso, el índice es un "RangeIndex," que es similar a un rango de números que va desde 0 hasta 9883. Indica que tu DataFrame tiene 9884 filas.

Data columns (total 64 columns): Esto te muestra la cantidad total de columnas en tu DataFrame, que es de 64 columnas.

A continuación, se presenta una descripción de las columnas importantes en tu DataFrame:

Column: Muestra el nombre de cada columna en tu DataFrame.

Non-Null Count: Indica la cantidad de valores no nulos en cada columna. Por ejemplo, la columna "IDOJ1" tiene 9876 valores no nulos, lo que significa que hay algunos valores faltantes en esa columna.

Dtype: Indica el tipo de datos de cada columna. Por ejemplo, las columnas "IDOJ1" y "IDAIO" son de tipo float64, las columnas con nombres como "BRUTA," "CONSUI," y muchas otras son de tipo object, y algunas columnas son de tipo int64.

memory usage: Indica la cantidad de memoria utilizada por el DataFrame. En este caso, se está utilizando aproximadamente 4.8+ megabytes de memoria para almacenar el DataFrame.

None: Esto aparece después de llamar a data.info(), y no es parte de la descripción del DataFrame. La función data.info() devuelve información sobre el DataFrame y, por defecto, también muestra esa información por pantalla. El "None" simplemente indica que la función no devuelve un valor específico que pueda ser asignado a una variable.

En resumen, este resumen muestra información importante sobre tu DataFrame, como el número de filas, el número de columnas, la cantidad de valores no nulos en cada columna y el tipo de datos de cada columna. Puedes utilizar esta información para entender mejor la estructura de tus datos y cómo están formateados.

In [11]:
num_filas, num_columnas = data.shape
print(f'Número de filas: {num_filas}, Número de columnas: {num_columnas}')

Número de filas: 9884, Número de columnas: 64